body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

#card {
    padding: 18px;
    height: fit-content;
    width: 325px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 15px;
    margin-bottom: 10px;
}

.cardText {
    text-align: justify center;
    font-family: 'Outfit', sans-serif;
    padding-left: 17px;
    padding-right: 17px;
    color: hsl(218, 44%, 22%);
}

.cardText p {
    font-weight: 400;
    padding: 10px 30px;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

.cardText h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.5rem;
  }
  

@media (max-width: 376px) {

    img {
        width: 275px;
        height: 275px;
    }

    #card {
      width: 275px;
      padding: 15px;
    }
    
    .cardText p {
      font-size: 0.8rem;
      padding: 5px 10px;
    }
    
    .cardText {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cardText h1 {
      font-size: 1.2rem;
    }

    .attribution {
      font-size: 0.4rem;
    }
    
  }